# Web Scraping
beautifulsoup4==4.12.2
requests==2.31.0

# Environment Variables
python-dotenv==1.0.1

# NLP and Embeddings
nltk==3.8.1
faiss-cpu==1.7.4
sentence-transformers==2.2.2
transformers==4.37.2
torch==2.2.0
tqdm==4.66.1

# LangChain and Vector Stores
langchain==0.1.8
langchain-community==0.0.31
langchain-openai==0.0.7
langchain-huggingface==0.0.2

# Azure OpenAI API
openai==1.3.5

# Other Utilities
numpy==1.26.3
pandas==2.1.4
